body {
    background-color: #eceef1;
}

/****** Header Section ******/
.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.have-account {
    display: block;

}
.forgot-pass {
    margin-right: 10px;
}

.sign-in-btn {
    height: 30px;
    border-radius: 5px;

}

/***** Main sign up section *****/

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homepage-other-sites {
    text-align: center;
    margin-bottom: 10px;
    

}

.other-sites {
    display: flex;
    justify-content: center;
    align-items: center;

}

.other-link {
    text-decoration: none;
}

.other-title {
    display: inline;
}

.logos {
    width: 20px;
    margin: 5px;

}

.form {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 400px;
    align-items: center;
    
}

.fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 80%;
    
    align-items: center;
   
    
}
.labels {
    margin-top: 10px;
    margin-bottom: 4px;
    text-align: center;

}

.input {
    width: 100%;
    height: 25px;
    border: 1px solid black;
    border-radius: 5px;
}

.disclaimer {
    padding: 20px;
   text-align: center;
    display: block;
}

.btn {
    margin: 15px auto 5px auto;
    border: 1px solid black;
    border-radius: 5px;
    

}

/****** footer section *****/

.footer {
 text-align: center; 
 font-size: small; 
 margin-top: 30px;  
}

.copyright-line-1 {
    margin-bottom: 0;
}

.copyright-line-2 {
    margin-top: 0;
}

